<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
  <script src="https://sdk-cdn.mypurecloud.com/javascript/62.0.0/purecloud-platform-client-v2.min.js"></script>
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <script type="text/javascript">
      var apiKey = '<%= apiKey %>';
      var sessionId = '<%= sessionId %>';
      var token = '<%= token %>';
      var userName = '<%= userName %>';
  </script>
</head>
<body>
  <div id="button-container" class="container">
    <button id="btnShareScreenStart">Share Screen</button>
    <button id="btnShareScreenStop">Stop Share Screen</button>
  </div>
  <div class="container">
    <div id="publisher"></div>
    <div id="subscribers"></div>
    <div id="share-screen-container"></div>
    <div id="sub-share-screen"></div>
  </div>

  <script src="/js/opentok.js"></script>
</body>
</html>