body {
    /* background-color: #5f6062 !important; */
}

#publisher {
    width: 500px;
    height: 500px;
}

.jumbotron {
    padding: 7px !important;
    background-color: #FF4F1F !important;
    color: #fff;
}

iframe {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border: none !important;
}