body {
    color: #666 !important; 
    font-family: Roboto !important;
}

.jumbotron {
    padding: 7px !important;
    background-color: #FF4F1F !important;
    color: #fff;
    margin-bottom: 1rem;
}

iframe {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border: none !important;
}

h1 {
    margin-left: 60px;
}

.agent-container {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #333333;
    border-bottom:  1px solid #ccc;
}

#empty-share-screen {
    padding-top: 40px;
    padding-bottom: 100px;
    text-align: center;
}

#empty-share-screen img {
    width: 100px;
    height: 100px;
}

#share-screen-container {
    height: 640px;
}

#sub-share-screen, #pub-share-screen {
    margin-bottom: 20px;
}

.smaller-stream {
    height: 160px!important;
    width: 180px!important;
}

.stream-container {
    margin: 10px;
    height: 250px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

@media only screen and (min-width: 810px) {
    .stream-container {
        height: 400px;
    }
}


#btnShareScreenStart, #btnShareScreenStop, #btnSendURL, 
#btn-email, #btn-sms, #btn-chat, 
.btn-start-room {
    background-color:white; 
    border-color:#FF4F1F; 
    border-radius:25px; 
    color: #FF4F1F; 
    border-width: 2px;
    border: 2px solid #FF4F1F;
}

#btnShareScreenStart:hover, #btnShareScreenStop:hover, #btnSendURL:hover, 
#btn-email:hover, #btn-sms:hover, #btn-chat:hover, 
.btn-start-room:hover {
    background-color:#FF4F1F; 
    border-color:#FF4F1F; 
    border-radius:25px; 
    color: #FDFDFD; 
    border-width: 2px;
}

#btnShareScreenStart:focus, #btnShareScreenStop:focus, #btnSendURL:focus, 
#btn-email:focus, #btn-sms:focus, #btn-chat:focus, 
.btn-start-room:focus {
    box-shadow: 0 0 0 0 !important;
    border-color: #FF4F1F !important;
    outline: none !important;
} 

#agent-controls {
    background: #f4f4f4;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px 0px;
    font-size: 1em;

    transition-duration: 0.5s;
    transition-timing-function: ease;
}

@media only screen and (max-width: 767px) {
    #agent-controls {
        padding: 10px;
    }
}


.share-screen-div{
    padding-top: 4px;
}


#btn-email, #btn-sms, #btn-chat {
    width: 80px;
}

@media only screen and (max-width: 640px) {
    #btn-email, #btn-sms, #btn-chat {
        width: 67px;
    }
}

#infoModalText {
    margin-top: 18px;
}

#video-section {
    display: none;
}

.nav-tabs {
    border-bottom: 1px solid #FF4F1F !important;
}

.nav-item {
    cursor: pointer;
}

.nav-link.active {
    color: #FF4F1F;
    border-color: #FF4F1F #FF4F1F #fff !important;
}

.nav-link:hover {
    border-color: #FF4F1F #FF4F1F #fff !important;
}

.btn-start-room {
    margin: 20px;
    margin-top: 60px;
    margin: 10px 25px;
}

.room-iframe {
    margin-top: 10px;
    display: none;
}

#error-iframe {
    display: none;
}

.error-message {
    margin-top: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FF4F1F;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FF4F1F;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
